/*Profesor trabajaré con los estilos anidados*/
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
:root{
    --color-blanco:white;
    --color-primario-azulOscuro:rgba(32,82,119,255);
    --color-secundario-azulClaro:rgba(13,110,253,255);
    --color-tertuario-azulClaro:rgb(122, 219, 243);
    --color-primary--gris:rgb(207, 198, 198);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &:last-child{
        justify-content: flex-end;
    }

    .video-container {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        #background-video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            }
        
                
    }
}

.var_w{
    width: 80vw;
    margin: 0 auto;    
}


main{
    display: flex;
    justify-content: center;
    z-index: 1;
    
    .section {
        position: relative;
        width: 100%;
 
        overflow: hidden;}
    
    .home_section {
        height: 100vh;


        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: var(--color-blanco);
            background: rgba(0, 0, 0, 0.5);
            color: var(--color-blanco);
            padding: 20px;
            

            .search-form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                background: rgba(255, 255, 255, 0.9);
                padding: 20px;
                border-radius: 10px;
                margin-top: 25px;

                label {
                    font-size: 1rem;
                    color: var(--color-primario-azulOscuro);
                }

                input {
                    padding: 10px;
                    font-size: 1rem;
                    border: 1px solid var(--color-primario-azulOscuro);
                    border-radius: 5px;
                }
                
                button {
                    background-color: var(--color-secundario-azulClaro);
                    color: var(--color-blanco);
                    padding: 10px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--color-tertuario-azulClaro);
                    }
                }
                
            }

            h1 {
                font-size: 4vw;
                margin-bottom: 20px;
            }
            p {
                font-size: 2vw;
            }
        }
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        gap: 15px;
        margin: 7px auto;
        max-width: 80vw;
        overflow: hidden;
        justify-content: space-around;
        
        
        .card{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 20vw;
            height: auto;
            height: auto;
            border: solid 1px var(--color-primary--gris);
            border-radius: 7.5px;
            padding: 15px;
            background: rgb(255, 255, 255,0.5);

            
            img {width: 100%;}
    
            .card_datos{
                h3 {font-size: 1.5vw;}
                p {
                    font-size: 1.1vw;
                    padding: 5px 0;
                    align-self: start;
                    margin: 10px 0;
                }
                a {

                    background-color: var(--color-secundario-azulClaro);
                    padding: 8px;
                    margin: 15px 0;
                    border-radius: 5px;
                    border: none;
                    text-decoration: none;
                    color: var(--color-blanco);
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: 0.8rem;
                    
                    &:hover{
                        color: var(--color-primary--gris);
                    }
                    &:focus-within + .modal {
                        display: grid;
                    }
                }
            
            }
    
            
    
            
        }
    }

    
    
}

.header_container{
    background-color: var(--color-blanco);
    padding: 20px;
    h1{
        color:var(--color-primario-azulOscuro);
        text-align: center;
        font-size: 3vw;
        font-family: "Rowdies", sans-serif;
        font-style: normal;
    }
    h2{
        text-align: center;
        font-size: 2vw;
        color: rgb(116, 116, 113);

    }
    
}
.header_nav{
        
        background-color: var(--color-primario-azulOscuro);
        padding: 1.5vh;
        z-index: 1;      
        position: sticky;
        top: 0;
        
        ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
            overflow: hidden;
            background-color: var(--color-primario-azulOscuro);
            gap: 20px;
            li{
                a{
                    text-decoration: none;
                    color: var(--color-blanco);
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    
                    &:hover{
                        border-bottom: solid 1px var(--color-blanco);
                    }
                }   

            }
             
 
        }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    place-items: center;
    z-index: 25;

    &:target{
        display: block;
    }

    &[aria-hidden="true"] {
        display: none;
    }

    &[aria-hidden="false"] {
        display: grid;
    }
    &:target {
        display: grid;
    }
    

    .modal-content{
        background: var(--color-blanco);
        border-radius: 10px;
        max-width: vw60;        
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        .modal-header{
            position: relative;
            display: flex;
            justify-content: flex-end;
        
            .close-button {
                position: absolute;
                top: 0;
                background-color: #6b2fdb;
                color: white;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
                text-decoration: none;
                font-size: 16px;
                z-index: 2;
        
                &:hover {
                    background-color: #555;
                }        
            }
        }

        .card_detalles{
            display: flex;
            flex-direction: row;
            gap: 40px;

            h3 {
                color: var(--color-tertuario-azulClaro);
                text-align: center;
                margin: 10px;
            }
            
            .caracteristicas{
                background-color: var(--color-primary--gris);
                position: relative;
                width: 20vw;
                overflow: hidden;
                h3{
                    margin-top: 30px;
                    color: var(--color-blanco);
                }
                p {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-bottom: 15px;
                }
                img{width: 25px;}
                button{
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                    margin: 10px 0;
                }
                .bReservar{
                    background-color: var(--color-tertuario-azulClaro);

                }

                .caracteristicas_detalladas{
                   
                    padding: 10px;

                    p{
                        
                        span{
                            font-size: 2rem;
                            background-color: var(--color-tertuario-azulClaro);}
                        

                    }


                }
                
            }
            img {width: 40vw;}
            h3 {font-size: 1.5vw;}
            p {
                font-size: 1.1vw;
                padding: 5px 0;
                align-self: start;
                width: 40vw;
            }
        }
    }

    
}

footer {

    .footer-extended {
        background-color: rgba(0, 0, 0, 0.5);
        color: var(--color-primario-azulOscuro);
        padding: 50px 20px;

        .services, .highlights, .testimonials {
            h2 {
                text-align: center;
                margin: 20px 0;
                color: var(--color-blanco);
            }

            .services-container, .highlights-container, .testimonials-container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 20px;
            }

            .service-item, .highlight-item, .testimonial-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 20px;
                border: 1px solid var(--color-primario-azulOscuro);
                border-radius: 10px;
                background-color: var(--color-primario-azulOscuro);

                img {
                    width: 150px;
                    height: 150px;
                    height: auto;
                    border-radius: 10px;
                }

                blockquote {
                    font-size: 1rem;
                    font-style: italic;
                }

                p {
                    font-size: 1rem;
                    font-weight: bold;
                    color: var(--color-secundario-azulClaro);
                }
            }
        }
    }

    .footer-main {
        
        background-color: var(--color-primario-azulOscuro);
        color: var(--color-blanco);
        padding: 20px;
        display: flex;
        justify-content: space-around;

        .redes_sociales{
            display: flex;
            justify-content: space-around;
            gap: 20px;

            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }

        h3 {
            color:var(--color-primary--gris);
            margin-bottom: 25px;
        }

        ul {
            list-style-type: none;
            padding: 0;


            li {
                margin-bottom: 10px;
                a {
                    color: var(--color-blanco);
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        p {
            margin: 5px 0;
        }
    }
}









@media (min-width: 1500px) {
    .card-container{grid-template-columns: auto auto auto;}
}


